<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="d-flex flex-column flex-fill flex-shrink-0 p-3 text-bg-dark" style="width: 280px;">
    <a class="d-flex align-items-center text-white text-decoration-none">
      <svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
      <span class="fs-4">Información </span>
    </a>
    <hr>
    Los datos de los alumnos registrados serán utilizados para enviar información personalizada sobre el avance de sus carreras.
    <hr>
  </div>