<nav class="navbar navbar-expand-lg navbar-dark bg-dark nav-fill navbar-static-top" style="border: 1px solid gray">
    <div class="container-fluid">
      <a class="navbar-brand" appFixFontSize>Portal Universidad</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page">Portal de registro de alumnos, cursos e inscripciones</a>
          </li>
        </ul>
        <b style="color: white;  margin-right: 20px;" *ngIf="user">
        Usuario: {{ user.firstName | fullNamePipe: user.lastName }}
         ({{user.email}})
        </b>
        <button (click)="authService.logOut()" color="warn" mat-flat-button>Cerrar sesión</button>
      </div>
      <ng-template #templateName>
        <button routerLink="/auth/login" mat-flat-button color="primary">Iniciar sesión</button>
      </ng-template>
    </div>
  </nav>
